/* Extra */
.featured-photo {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }

/* Image captures, d.v.s. bildtexter. Alla * direkt efter en bild tolkas som bildtexter */
img + em {
  font-size: 0.8em;
  line-height: 0.6em;;
}

h1 {
  font-family: 'Abril Fatface', serif;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
}

.posttime {
  display: block;
  font-family: 'Abril Fatface', serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--color-gray-90);
  word-spacing: -0.5px;
}

.postlist li {
  padding-bottom: 50px;
}

.centric {
  margin: 0 auto;
  max-width: 60em;
  display: inline-block; /* Not wider than content */
}

img ~ .titlepanel {
  top: -150px;
}

.titlepanel {
  position: relative;
  margin-bottom: -150px;
  background-color: rgba(1,1,1,0.3);
  height: 145px; /* ? */
  color: white;
  font-family: 'Abril Fatface', serif;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
}

.titlepanel > time {
  font-size: 0.4em;
  display: block;
  font-family: var(--font-family);
  padding-top: 0.5em;
  margin-bottom: 1.5em;
}

.noimage {
  height:150px;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration-style: bold;
}

/* ---------------------------- */

.postscontainer {
  display: flex;
  flex-direction:column;
  margin: 0 auto;
  max-width: 60em;
}

.postlistitem2 {  
  margin: 0 auto;
  max-width: 60em;
  width: fit-content;
}
