---
layout: layouts/home.njk
eleventyNavigation:
  key: Hem
  order: 1
---
{% set maxPosts = collections.posts.length | min(20) %}
<h1>Senaste {% if maxPosts == 1 %}inlägget{% else %}{{ maxPosts }} inläggen{% endif %}</h1>
Alla inlägg finns i arkivet.
{% set postslist = collections.posts | head(-20) %}
{% include "postslist2.njk" %}
<br>
<br>
<br>
<br>
(Borde erbjuda nästa sida här!)
